.card {
  font-family: 'Nunito', sans-serif;
  width: 400px;
  display: inline-block;
  position: relative;
  margin: 50px;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2), 0px 2px 5px 0px rgba(0, 0, 0, 0.19);
}

.cardImageFrame {
  width: 400px;
  height: 400px;
}

.cardImage {
  width: 400px;
  height: 400px;
}

.cardTitle {
  font-weight: bold;
  font-size: 20px;
  position: absolute;
  top: 0px;
  width: 100%;
  color: white;
  text-shadow: 2px 2px 4px black;
  text-align: left;
  padding-top: 20px;
  padding-left: 20px;
  box-sizing: border-box;
}

.cardDescription {
  font-size: 16px;
  position: absolute;
  top: 47px;
  color: white;
  text-shadow: 2px 2px 4px black;
  padding: 0px 20px;
  box-sizing: border-box;
  text-align: left;
}

.cardPrice {
  font-weight: bold;
  font-size: 16px;
  position: absolute;
  bottom: 54px;
  right: 0px;
  color: white;
  text-shadow: 2px 2px 4px black;
  padding: 20px 20px;
  width: 100%;
  box-sizing: border-box;
  text-align: right;
}

.cardButton {
  cursor: pointer;
  padding: 16px 0px;
  background-color: white;
  color: black;
  font-size: 16px;
  font-weight: bold;
  width: 100%;
}

.cardButton:hover {
  color: white;
  background-color: black;
}

.cardTitle::selection,
.cardDescription::selection,
.cardPrice::selection,
.cardButton::selection {
  background-color: transparent;
}