.card {
  font-family: 'Nunito', sans-serif;
  width: 275px;
  display: inline-block;
  position: relative;
  margin: 50px;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2), 0px 2px 5px 0px rgba(0, 0, 0, 0.19);
}

.cardImageFrame {
  width: 275px;
  height: 275px;
}

.cardTitle {
  font-weight: bold;
  font-size: 16px;
  text-align: left;
}

.cardDescription {
  font-weight: light;
  font-size: 12px;
  text-align: left;
}

.cardPrice {
  font-size: 14px;
  text-align: right;
}

.cardInformation {
  padding: 5px 10px;
}

.cardButton {
  cursor: pointer;
  padding: 10px 0px;
  background-color: rgba(0, 0, 0, 0.45);
  color: white;
  font-size: 14px;
  font-weight: bold;
  position: absolute;
  top: 236px;
  width: 100%;
}

.cardButton:hover {
  background-color: black;
}

.cardTitle::selection,
.cardDescription::selection,
.cardPrice::selection,
.cardButton::selection {
  background-color: transparent;
}